{{include file='views/backend/head.html'}}
<div style="padding-top:7em;" align="center">
  <a href="/WOWSHOP/backend/categoryCreate" class="create">新增</a>
  <table text-align="center" text-valign="middle">
      <tr>
        <th>圖示</th><th>類別名稱</th><th>刪除</th>
      </tr>
      {{foreach from=$categorys item=category name=foo}}
      <tr>
        <td><img height="50px" width="50px" src="data:image/jpg;base64,{{$category.icon}}"/></td>
        <td><a href="/WOWSHOP/backend/categoryUpdate/{{$category.id}}" class="update"><pre>{{$category.name}}</pre></a></td>
        <td><button class="cancel" value="{{$category.id}}" type="button">刪除</button> </td>
      </tr>         
      {{/foreach}}
  </table>
</div>
<script>
  $(document).on('click', '.cancel', function () {
    var $this = $(this);
    if (!confirm("是否刪除")){
      return false;
    }else{
      $.ajax({
          type:"GET",
          url:"/WOWShop/backend/categoryDelete/"+$this.val()
        })
        .done(function (data) {
          $data = JSON.parse(data);
          alert($data['message']);
          $this.parent().parent().remove();
        })
    }
    
  });
</script>
{{include file='views/backend/footer.html'}}