{{include file='views/backend/head.html'}}
<div style="padding-top:7em;" align="center">
  <a href="/WOWSHOP/backend/productCreate" class="create">新增</a>
  <table text-align="center" text-valign="middle">
    <tr>
      <th>商品圖</th>
      <th>名稱</th>
      <th>裝等</th>
      <th>品質</th>
      <th>數量</th>
      <th>價格</th>
      <th>介紹</th>
      <th>刪除</th>
    </tr>
    {{foreach from=$products item=product name=foo}}
      <tr>
        <td><img height="100px" width="100px" src="data:image/jpg;base64,{{$product.img}}"/></td>
        <td><a href="#" class="update"><pre>{{$product.name}}</pre></a></td>
        <td>{{$product.itemLevel}}</td>
        <td>{{$product.quality}}</td>
        <td>{{$product.invetory}}</td>
        <td>{{$product.price}}</td>
        <td>{{$product.introduction}}</td>
        <td><button class="cancel" value="{{$product.id}}" type="button">刪除</button></td>
      </tr>
    {{/foreach}}
  </table>
</div>
<script>
  $(document).on('click', '.cancel', function () {
    var $this = $(this);
    if (!confirm("是否刪除")){
      return false;
    }else{
      $.ajax({
          type:"GET",
          url:"/WOWShop/backend/productDelete/"+$this.val()
        })
        .done(function (data) {
          $data = JSON.parse(data);
          alert($data['message']);
          $this.parent().parent().remove();
        })
    }
    
  });
</script>
{{include file='views/backend/footer.html'}}