{{include file='views/backend/head.html'}}
<div style="padding-top:7em;" align="center">
  <a href="/WOWSHOP/backend/roleCreate" class="create">新增</a>
  <table text-align="center" text-valign="middle">
    <tr>
      <th>角色</th><th>權限</th>
    </tr>
    {{foreach from=$itemlist item=items name=foo}}
    <tr>
      {{foreach from=$items item=item name=foo}}
        {{if $smarty.foreach.foo.first}}
          <td>{{$item.name}}</td>
        {{else}}
          <td>
            {{foreach from=$item item=per name=foo}}
              {{if not $smarty.foreach.foo.last}}
                {{$per.name}},
              {{else}}
                {{$per.name}}
              {{/if}}
            {{/foreach}}
          </td>
        {{/if}}
      {{/foreach}}
    </tr>
    {{/foreach}}
  </table>
</div>
{{include file='views/backend/footer.html'}}